name: Tests

on:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  phpunit:
    name: PHP ${{ matrix.php }} | tarantool ${{matrix.tarantool_version}}
    runs-on: ubuntu-latest
    services:
      tarantool:
        image: tarantool/tarantool:${{ matrix.tarantool_version }}
        ports:
          - 3301:3301
    strategy:
      fail-fast: false
      matrix:
        php: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2']
        tarantool_version: ['2.4.1', '2.5', '2.8', '2.9.0', 'latest']

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader
      - name: Run unit tests with coverage
        run: XDEBUG_MODE=coverage vendor/bin/phpunit --coverage-clover=coverage.clover --colors=always
        env:
          TARANTOOL_DSN: tcp://guest@127.0.0.1:3301/
      - name: Upload code coverage
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover coverage.clover
        if: matrix.php == '7.3' && matrix.tarantool_version == 'latest'
        continue-on-error: true
